[Desktop Entry]
Version=1.0
Type=Link
Name=NeoPixel Arduino Library Reference
Comment=
Icon=user-bookmarks
URL=https://adafruit.github.io/Adafruit_NeoPixel/html/class_adafruit___neo_pixel.html
